@model api_locacao.Model.LocacaoModel

@{
    ViewData["Title"] = "Atualizar Locação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Atualizar Locação</h1>

<h4>Atualize as informações desejadas abaixo:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Cliente" class="control-label"></label>
                <select class="form-control" asp-for="Id_Cliente" name="Id_Cliente" id="Id_Cliente" onchange="validaClienteFilme()">
                    <option value="0" selected="selected">Clientes...</option>
                    @foreach (var item in ViewBag.IdCliente)
                   {
                       <option value=@item.Id>@item.Nome</option>
                   }
                </select>
                <span asp-validation-for="Id_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Filme" class="control-label"></label>
                <select class="form-control" asp-for="Id_Filme" name="Id_Filme" id="Id_Filme" onchange="validaClienteFilme()">
                    <option value="0" selected="selected">Filmes...</option>
                    @foreach (var item in ViewBag.IdFilme)
                   {
                       <option value=@item.Id>@item.Titulo</option>
                   }
                </select>
                <span asp-validation-for="Id_Filme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLocacao" class="control-label"></label>
                <input asp-for="DataLocacao" class="form-control" />
                <span asp-validation-for="DataLocacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDevolucao" class="control-label"></label>
                <input asp-for="DataDevolucao" class="form-control" />
                <span asp-validation-for="DataDevolucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="subBtn" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    var dropCliente = document.getElementById("Id_Cliente");
    var dropFilme = document.getElementById("Id_Filme")
    var subBtn = document.getElementById("subBtn");

    function validaClienteFilme(){
        let idCliente = dropCliente.options[dropCliente.selectedIndex].value;
        let idFilme = dropFilme.options[dropFilme.selectedIndex].value;

        if((idCliente >= 1) && (idFilme >= 1)){
            subBtn.disabled = false;
        } else {
            subBtn.disabled = true;
        }

    }

    validaClienteFilme();

</script>